@charset "UTF-8";
/* 
.form-table.cer-info td .btn {
  height: 3em;
  max-height: 48px;
  margin-left: 10px;
} */
.form-table.cer-info .f-wrap {
  flex-wrap: wrap;
}
.form-table.cer-info .f-wrap.fam-info {
  flex-direction: column;
  align-items: flex-start;
}
.fam-info-top,
.fam-info-bottom {
  display: flex;
  align-content: flex-start;
  align-items: center;
}
.cer-info td .acc-info {
  margin-bottom: 10px;
  color: #888;
}
.cer-info th {
  width: 180px;
}
.cer-info td.td-album {
  padding-right: 0;
}
.album-wrap {
  display: flex;
  flex-wrap: wrap;
}
.album-card {
  position: relative;
  margin-right: 10px;
}
.album-card:nth-child(-n + 6) {
  margin: 10px 10px 10px 0;
}
.album-card:nth-child(5),
.album-card:nth-child(10) {
  margin-right: 0;
}
@media screen and (max-width: 1050px) {
  .album-card:nth-child(5),
  .album-card:nth-child(10) {
    margin-right: 10px;
  }
  .album-card:nth-child(4),
  .album-card:nth-child(8) {
    margin-right: 0;
  }
  .album-card:nth-child(-n + 5) {
    margin: 10px 10px 10px 0;
  }
  .album-card:nth-child(n + 5):nth-child(-n + 9) {
    margin: 0 10px 10px 0;
  }
}
@media screen and (max-width: 910px) {
  .album-card:nth-child(-n + 4) {
    margin: 10px 10px 10px 0;
  }
  .album-card:nth-child(n + 4):nth-child(-n + 7),
  .album-card:nth-child(n + 7):nth-child(-n + 10) {
    margin: 0 10px 10px 0;
  }
}
.album-card a {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 28px;
  height: 28px;
  background: url(/images/sub/btn-close.png);
  text-indent: -9999px;
}
.album-card.on a {
  display: inline-block;
}
.td-album .upload-info {
  color: #888;
  margin-bottom: 10px;
}
.td-album .upload-info strong {
  color: #ff5400;
  margin-right: 5px;
}
.td-album .upload-info span {
  color: #4a4a4a;
  margin: 0 5px;
}
.sel-skin {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #dadada;
}
.sel-skin h4 {
  font-size: 20px;
  min-width: 220px;
}
.sel-skin h4 span {
  display: block;
  color: #888;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
}
.card-wrap {
  display: flex;
  flex-direction: row;
}
.skin-card {
  margin-left: 40px;
}
.skin-card:first-child {
  margin-left: 0;
}
.skin-card .img {
  max-width: 220px;
  height: 328px;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.skin-card .img:hover:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background: url(/images/sub/skin-preview.png);
  cursor: pointer;
}
.skin-card input[type="radio"] {
  display: none;
}
.skin-card label {
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding-top: 30px;
  margin-bottom: 15px;
}
.skin-card label:before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.skin-card input[type="radio"]:checked + label:before {
  border-color: #f1ad1a;
}
.skin-card input[type="radio"]:checked + label:after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f1ad1a;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -9.5px;
}
.skin-card input[type="radio"]:checked + label + .img {
  border: 2px solid #f1ad1a;
}
