@charset "utf-8";

/*** Common ***/
* {
  max-height: 1000000px;
  margin: 0;
  padding: 0;
  outline: none !important;
}
img,
fieldset,
button {
  border: none;
}
hr,
button img {
  display: none;
}
input,
select,
button,
textarea {
  font-family: "Noto Sans Korean", "Malgun Gothic", "맑은 고딕", "돋움", Dotum,
    "굴림", Gulim, Tahoma, Verdana, Geneva, sans-serif, Apple Gothic,
    AppleGothic;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  line-height: 30px;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  font-weight: 400;
  color: #555;
  text-decoration: none;
  vertical-align: top;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
textarea {
  overflow: auto;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
table img {
  vertical-align: top;
}
th,
td {
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-all;
}
form {
  margin: 0;
  padding: 0;
}
img {
  width: auto;
  vertical-align: top;
}
table img {
  width: auto;
  vertical-align: middle;
}
legend {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
} /* For Screen Reader */
caption {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
}
em {
  font-style: normal;
}
p {
  display: block;
}
input:disabled {
  background: #ebebe4;
}
select:disabled {
  background: #ebebe4;
}
/*.blind, .disabled {position:absolute;left:-9999px;top:-9999px;}*/

body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  background: #eee;
  font-family: "Noto Sans Korean", "Malgun Gothic", "맑은 고딕", "돋움", Dotum,
    "굴림", Gulim, Tahoma, Verdana, Geneva, sans-serif, Apple Gothic,
    AppleGothic;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  line-height: 30px; /*overflow-x:hidden;*/
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */
* {
  outline: 0 !important;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

html {
  /* -webkit-touch-callout: none; */
  /* -webkit-user-select: none; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  background: #fff;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
}

body,
input,
select,
textarea,
button {
  border: none;
  font-size: 14px;
  font-family: "Noto Sans Korean", "Malgun Gothic", "맑은 고딕", "돋움", Dotum,
    "굴림", Gulim, Tahoma, Verdana, Geneva, sans-serif, Apple Gothic,
    AppleGothic;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.25;
  color: #000;
  border-radius: 0;
}

button {
  border: 1px solid #ccc;
  background: #f0f0f0;
  height: 30px;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

img,
fieldset {
  border: 0;
}

address,
cite,
code,
em {
  font-style: normal;
  font-weight: 500;
}

label,
img,
input,
select,
textarea,
button {
  vertical-align: middle;
}

legend {
  line-height: 0;
  font-size: 1px;
  overflow: hidden;
}

hr {
  display: none;
}

main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Form */
textarea {
  border: 1px solid #ccc;
}

select {
  height: 38px;
  font-size: 13px;
  color: #000;
  border: 1px solid #ccc;
  padding: 0 45px 0 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("/images/btn/btn-select-arrow.png") no-repeat center
    right 15px;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}

input[type="tel"],
input[type="time"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="file"],
input[type="url"],
input[type="number"],
input[type="date"],
textarea {
  /*  width: 100%; */
  height: 38px;
  font-size: 14px;
  color: #000;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
  text-indent: 15px;
  transition: all 0.5s;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* placeholder 스타일 지정 */
input::-webkit-input-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

textarea:-ms-input-placeholder {
  color: #999;
}

input::placeholder {
  color: #999;
  opacity: 1;
}

textarea::placeholder {
  color: #999;
  opacity: 1;
}

textarea {
  padding: 5px 0;
}

select:focus,
textarea:focus,
input:focus {
  border: 1px solid #727272;
}

input[type="tel"][readonly],
input[type="text"][readonly],
input[type="password"][readonly],
input[type="email"][readonly],
input[type="search"][readonly],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="email"][disabled] {
  background: #eaeaea;
  border-color: #c0c0c0;
  color: #666;
  -webkit-appearance: none;
  font-size: 12px;
}

textarea[readonly],
textarea[disabled] {
  padding: 11px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  line-height: 140%;
  height: 78px;
  background: #eaeaea;
  border: 1px solid #ccc;
}

.input-chk {
  position: relative;
}

.input-chk input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-chk input[type="checkbox"] + label {
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.input-chk input[type="checkbox"] + label::before {
  display: block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  border: 1px solid #dedede;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  content: " ";
}

.input-chk input[type="checkbox"]:focus + label::before {
  border-color: #f1ad18;
}

.input-chk input[type="checkbox"]:checked + label::after {
  position: absolute;
  left: 9px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
  content: "";
}

.input-chk input[type="checkbox"]:checked + label::before {
  background: #f1ad18;
  border-color: #f1ad18;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px - 12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.clear {
  clear: both;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.blind {
  overflow: hidden;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 0px;
  height: 1px;
}

/* ------ responsive ------ */
@media screen and (min-width: 1921px) {
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 970px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
