/* ------ sub visual ------ */
.visual {
  background: no-repeat center;
  background-size: cover;
  background-image: url("../images/sub/bg-apply_sample-visual.jpg");
  color: #fff;
}

.visual .visual-inner {
  position: relative;
  height: 240px;
  padding-top: 73px;
  box-sizing: border-box;
}

.visual h2 {
  position: absolute;
  width: 300px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%) perspective(1100px);
  animation: visual-tit-in 0.6s ease-in;
}

.visual p {
  padding-top: 59px;
  font-size: 18px;
  font-weight: normal;
  font-weight: 350;
  line-height: 1.72;
  text-align: center;
  transition: 0.5s ease;
  animation: scale-in 1s ease;
}

.sub-wrap .contents-wrap {
  max-width: 1040px;
  margin: 0 auto;
  padding: 70px 40px 110px;
  box-sizing: border-box;
}

.contents-wrap h3 {
  margin-top: -0.231em;
  margin-bottom: -0.115em;
  padding-bottom: 20px;
  font-size: 26px;
}

.contents-wrap .contents {
  margin-bottom: 60px;
}

.contents-wrap .contents.top-line {
  padding-top: 74px;
  border-top: 2px solid #000;
}

.contents-wrap .contents:last-child {
  margin-bottom: 0;
}

.contents-wrap .con-btm {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0 20px;
}

.contents-wrap .contents + .con-btm {
  padding-top: 0;
}

.contents-wrap .con-btm .btn {
  margin-left: 5px;
}

.contents-wrap .con-btm .btn:first-child {
  margin-left: 0;
}

/* animation */
@keyframes visual-tit-in {
  0% {
    clip: rect(0px, 150px, 60px, 150px);
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    clip: rect(0px, 300px, 60px, 0px);
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes position-in {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes line-grow {
  0% {
    height: 0;
  }

  100% {
    height: 60px;
  }
}

/* ------ grid-box-wrap ------ */
.grid-box-wrap {
  display: flex;
  flex-wrap: wrap;
}

.grid-box-wrap .grid-box {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 10px);
  min-height: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);
  background: no-repeat right top;
  background-size: cover;
}

.grid-box-wrap .grid-box.full {
  width: 100%;
  margin-right: 0;
}

.grid-box-wrap .grid-box:nth-child(2n) {
  margin-right: 0;
}

.grid-box-wrap .grid-box .title {
  width: 100%;
  font-size: 26px;
  padding-bottom: 30px;
}

.grid-box-wrap .grid-box div.title {
  border-bottom: 1px solid #ddd;
}

/* .grid-box-wrap .grid-box div.title::after {
  display: block;
  width: 100%;
  padding: 30px 25px 0;
  margin-left: -25px;
  border-bottom: 1px solid #ddd;
  content: "";
} */

.grid-box-wrap .grid-box .title h3 {
  padding-bottom: 12px;
}

.grid-box-wrap .grid-box .title p {
  font-size: 16px;
  color: #f1ad18;
}

.grid-box-wrap .grid-box .grid-con {
  width: 100%;
}

.grid-box-wrap .grid-box .grid-con dl {
  margin-bottom: 12px;
}

.grid-box-wrap .grid-box .grid-con dt {
  font-size: 16px;
  color: #888;
}

.grid-box-wrap .grid-box .grid-con dd {
  font-size: 18px;
  font-weight: 500;
}

.grid-box-wrap .grid-box .grid-con dd span {
  color: #999;
}

.grid-box-wrap .grid-box .grid-con dd .state {
  margin-left: 5px;
}

.grid-box-wrap .grid-con p {
  font-size: 18px;
  line-height: 1.444em;
  font-weight: 400;
  color: #888;
}

.grid-box-wrap .grid-box .grid-con .regular-txt {
  font-weight: 500;
  color: #242424;
}

.grid-box-wrap .grid-box .grid-con .regular-txt em {
  color: #f1ad18;
}

.grid-box-wrap .grid-box .grid-con .major-txt {
  font-size: 28px;
  font-weight: 500;
  color: #f1ad18;
}

.grid-box-wrap .grid-box .grid-con .small-txt {
  font-size: 16px;
}

.grid-box-wrap .grid-box .grid-con .small-txt em {
  color: #242424;
}

.grid-box-wrap .grid-box .grid-btm {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 100%;
}

.grid-box-wrap .grid-box form {
  width: 100%;
}

.grid-box-wrap .grid-box .grid-btm .btn {
  height: 2.5em;
  margin-left: 5px;
  font-size: 16px;
}

.grid-box-wrap .grid-box.member-info {
  background-image: url("../images/sub/grid-box-member.png");
}

.grid-box-wrap .grid-box.question {
  background-image: url("../images/sub/grid-box-question.png");
}

.grid-box-wrap .grid-box.apply {
  background-image: url("../images/sub/grid-box-apply.png");
}

.grid-box-wrap .grid-box.cs-info {
  background-image: url("../images/sub/grid-box-cs.png");
}

.grid-box-wrap .cs-info .major-txt {
  margin-bottom: 10px;
}

.board-list .grid-box .title {
  overflow: hidden;
  width: 100%;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.board-list .grid-box .grid-con {
  font-size: 16px;
}

.board-list .grid-con p {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4;
  height: 4.2em;
}

.board-list .grid-box .file {
  font-size: 0;
  text-indent: -99999px;
  overflow: hidden;
}

.board-list .grid-box .file::before {
  width: 40px;
  height: 40px;
  margin-right: 0;
}

.empty-list {
  padding-top: 95px;
  padding-bottom: 50px;
  border-top: 2px solid #000;
  text-align: center;
}

.empty-list p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 350;
}

.empty-list p strong {
  font-size: 30px;
}

.empty-list img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.board-write .form-row {
  margin-bottom: 10px;
}

.board-write .form-row textarea {
  height: 242px;
}

.board-write .attach-file {
  display: flex;
  align-items: center;
  padding-top: 15px;
  font-size: 16px;
  color: #888;
}

.board-write .attach-file label {
  margin-right: 5px;
}

.board-write .attach-file .file-name {
  margin-right: 5px;
  color: #0000ff;
  text-decoration: underline;
}

.board-write .attach-file .file-del {
  overflow: hidden;
  display: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 100%;
  background: #000;
  text-indent: -999px;
}

.board-write .attach-file .file-del::before,
.board-write .attach-file .file-del::after {
  display: block;
  position: absolute;
  left: 20%;
  top: 9px;
  width: 60%;
  height: 2px;
  background: #fff;
  content: "";
}

.board-write .attach-file .file-del::before {
  transform: rotate(-45deg);
}

.board-write .attach-file .file-del::after {
  transform: rotate(45deg);
}

/* ------ form-table ------ */
.form-table {
  border-top: 2px solid #000;
}
.form-table tr {
  border-bottom: 1px solid #dadada;
}
.form-table th,
.form-table td {
  padding: 11px 0 11px 20px;
  text-align: left;
  box-sizing: border-box;
}

.form-table th {
  width: 187px;
  border-right: 1px solid #dadada;
  padding-top: 22px;
  padding-right: 20px;
  background: #f3f3f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  vertical-align: top;
}

.form-table td {
  display: flex;
  align-items: center;
}

.form-table td.flx-wrap {
  flex-wrap: wrap;
}

.form-table td.flx-wrap .form-row {
  width: 100%;
}

.form-table td.flx-wrap .form-row:last-child {
  margin-bottom: 0;
}

.form-table td.row-wrap {
  display: table-cell;
}

.form-table td input,
.form-table td select {
  width: calc(33.333% - 7px);
  max-width: 200px;
  margin-right: 10px;
}

.form-table td .col-6 {
  width: calc(50% - 5px);
  max-width: 100%;
}

.form-table td .col-8 {
  width: calc(66.666% - 5px);
  max-width: 410px;
}

.form-table td .col-12 {
  width: 100%;
  max-width: 100%;
}

.form-table td input:last-child,
.form-table td select:last-child {
  margin-right: 0;
}

.form-table .btn {
  height: 3em;
  font-size: 16px;
}

.form-table td span {
  font-size: 18px;
  color: #242424;
}

.contents .txt-wraning {
  margin-bottom: 16px;
  color: #ff5c0f;
}

.txt-info {
  margin-top: 5px;
  text-align: right;
  color: #888;
  font-size: 16px;
}

.txt-info.w-full {
  width: 100%;
}

.txt-info.center {
  text-align: center;
}

.txt-info.left {
  text-align: left;
}

.form-table td .sub-unit {
  display: inline;
  width: auto;
}

.form-table td .txt-info {
  margin-top: 0;
  font-size: 16px;
  color: #888;
}

td.tab-title {
  padding: 13px 30px;
}

td.tab-con-wrap {
  padding: 15px 30px;
}

/* ------ tab ------ */
.tab-title .input-rdo {
  width: calc(33.333% - 6.666px);
  max-width: 180px;
  min-width: auto;
  margin-right: 10px;
}

.tab-title .input-rdo:last-child {
  margin-right: 0;
}

.tab-title .input-rdo label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 43px;
  padding-left: 0;
  line-height: 43px;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

.tab-title .input-rdo input[type="radio"]:checked + label {
  border: 0;
  background-color: #f1ad1a;
  color: #fff;
  position: relative;
}

.tab-title .input-rdo label::before,
.tab-title .input-rdo label::after {
  display: none;
}

.tab-title .input-rdo input[type="radio"]:checked + label::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 13px;
  height: 9px;
  border-style: solid;
  border-width: 0px 0 2px 2px;
  border-color: #fff;
  border-radius: 0;
  transform: rotateZ(-45deg);
  left: 20px;
  top: 23px;
}

.tab-con {
  display: none;
  width: 100%;
}

.tab-con.on {
  display: block;
}

/* ------ accordion ------ */
.accordion-box .ac-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 16px;
  color: #777;
  cursor: pointer;
  transition: 0.3s;
}

.accordion-box .ac-title.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.accordion-box .ac-title span:first-child {
  margin-right: auto;
  color: #555;
}

.accordion-box .ac-title.active span:first-child {
  font-size: 18px;
  color: #242424;
}

.accordion-box .ac-title span:nth-child(2) {
  min-width: 75px;
  margin-left: 15px;
}

.accordion-box .ac-title::after {
  display: block;
  width: 12px;
  min-width: 12px;
  height: 12px;
  margin-top: -9px;
  margin-left: 40px;
  border: 2px solid #909090;
  border-top-width: 0;
  border-left-width: 0;
  transform: rotate(45deg);
  content: "";
  transition: 0.3s;
}

.accordion-box .ac-title.active::after {
  margin-top: 9px;
  border-color: #f1ad18;
  transform: rotate(-135deg);
}

.accordion-box li .ac-con {
  display: none;
  padding: 25px 20px;
  font-size: 16px;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.accordion-box li .ac-con p {
  font-size: 16px;
  color: #555;
}

.accordion-box li .ac-con .file {
  margin-top: 20px;
}

.accordion-box li .ac-con .file::before {
  margin-right: 10px;
}

/* ------ 이미지 추가 리스트 ------ */
.attach-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.attach-img li {
  overflow: hidden;
  position: relative;
  max-width: 141px;
  width: calc(20% - 8px);
  height: 96px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  box-sizing: border-box;
}

.attach-img li:nth-child(5n) {
  margin-right: 0;
}

.attach-img label {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
  cursor: pointer;
}

.attach-img li img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.attach-img .btn-del {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border: 0;
  background: #000 url("../images/sub/btn-close.png") center no-repeat;
  text-indent: -999px;
}

.attach-img + p {
  font-size: 16px;
}

.attach-img + p em,
.attach-img + p strong {
  font-weight: 350;
}

.attach-img + p strong {
  margin-right: 5px;
  color: #dc6117;
}

.attach-img + p em {
  margin: 0 20px 0 5px;
  color: #4a4a4a;
}

/* ------ login-wrap ------ */
.login-wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}
.loaded .login-wrap {
  overflow: auto;
}

.login-wrap::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bg-login.jpg");
  transform: scale(1.1);
  transition: 2s ease-in-out;
  content: "";
}

.moving .login-wrap::before {
  transform: scale(1);
}

.login-wrap .form-box {
  position: relative;
  bottom: -30px;
  width: 90%;
  max-width: 570px;
  min-height: 530px;
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  -moz-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.8s ease-in-out 1.2s;
}

.moving .login-wrap .form-box {
  opacity: 1;
  bottom: 0;
}

.login-wrap .form-box .box-head {
  padding-bottom: 40px;
}

.login-wrap .form-box .box-head h2 {
  margin-top: -0.214em;
  margin-bottom: -0.179em;
  font-size: 28px;
  font-weight: normal;
  font-weight: 350;
  line-height: 1.286;
}

.login-wrap .form-box .box-head h2 strong {
  display: block;
}

.login-wrap .form-box .box-head h2 + p {
  margin-top: 0.722em;
  margin-bottom: -10px;
  font-size: 18px;
  color: #555;
}

.login-wrap .form-box .box-body {
  margin-bottom: 65px;
}

.login-wrap .form-box .box-foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 50px 50px;
  box-sizing: border-box;
}

.login-wrap .form-box .box-foot .btn {
  width: 100%;
  margin-top: 5px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.login-wrap .form-row.sp-btw {
  justify-content: space-between;
}

.login-wrap .form-row.sp-btw .input-wrap {
  width: auto;
}

.login-wrap .form-box .result {
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #ff0000;
  text-align: center;
}

.login-wrap .form-box .result em {
  font-size: 20px;
}

.login-wrap.user-find .form-box {
  max-width: 500px;
  min-height: 563px;
  margin: 0 20px;
}

.login-wrap .input-wrap + .btn {
  margin-left: 10px;
}

.login-wrap .form-row .input-wrap {
  width: 100%;
}
.login-wrap .form-row.col-half .input-wrap {
  width: 50%;
  margin-right: 10px;
}

.login-wrap .form-row.col-half .input-wrap:last-child {
  margin-right: 0;
}

.login-wrap .form-row input {
  height: 3.715em;
}

.login-wrap .txt-info {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* ------ 샘플보기페이지 ------ */
.sample-list ul {
  display: flex;
  text-align: center;
  color: #fff;
}

.sample-list li {
  width: calc(33.333% - 13.333px);
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: no-repeat center;
  background-size: cover;
  -webkit-box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);
}

.sample-list li:last-child {
  margin-right: 0;
}

.sample-list .obituary li:nth-child(1) {
  background-image: url("../images/sub/apply_sample-itembg1-1.png");
}
.sample-list .obituary li:nth-child(2) {
  background-image: url("../images/sub/apply_sample-itembg1-2.png");
}
.sample-list .obituary li:nth-child(3) {
  background-image: url("../images/sub/apply_sample-itembg1-3.png");
}

.sample-list .theme li:nth-child(1) {
  background-image: url("../images/sub/apply_sample-itembg2-1.png");
}
.sample-list .theme li:nth-child(2) {
  background-image: url("../images/sub/apply_sample-itembg2-2.png");
}

.sample-list li h4 {
  position: relative;
  padding-top: 30px;
  font-size: 24px;
}

.sample-list li h4::after {
  display: block;
  width: 30px;
  height: 2px;
  margin: 0.833em auto;
  background-color: #fff;
  content: "";
}

.sample-list li:hover h4 {
  color: #f1ad18;
}

.sample-list li:hover h4::after {
  background-color: #f1ad18;
}

.sample-list li img {
  display: block;
  margin: 0 auto;
  border-radius: 11px;
  -webkit-box-shadow: -20px 0px 50px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -20px 0px 50px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -20px 0px 50px 0px rgba(0, 0, 0, 0.3);
}

.sample-list li .btn {
  position: relative;
  width: 60%;
  max-width: 180px;
  height: 2.688em;
  margin: -2.6em auto 0;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #242424;
}

.sample-list li .btn:hover {
  border-color: #f1ad18;
  background: #f1ad18;
  color: #fff;
}

/* ------ 문의상세 ------ */
.contents-wrap .question-box,
.contents-wrap .answer-box {
  position: relative;
  padding-left: 56px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.contents-wrap .question-box::before,
.contents-wrap .answer-box::before {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 38px;
  font-weight: 700;
  color: #555;
  margin-top: -0.211em;
  content: "Q";
}

.contents-wrap .question-box .title {
  display: flex;
  align-items: center;
  min-height: 38px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
}

.contents-wrap .question-box .txt {
  margin-bottom: 30px;
  font-size: 16px;
  color: #777;
}

.contents-wrap .answer-box {
  margin-top: 30px;
  border-bottom: 0;
}

.contents-wrap .answer-box::before {
  color: #ff9600;
  content: "A";
}

.contents-wrap .answer-box .txt {
  font-size: 16px;
  color: #000;
}

/* ------ 신청하기 ------ */
td.offer-con {
  padding: 15px 0;
}

.offer-con .tab-con.on {
  display: flex;
}

.offer-con .offer-list {
  width: 50%;
  padding: 0 30px;
}

.offer-con .offer-list li {
  font-size: 16px;
  position: relative;
  line-height: 1.875em;
}

.offer-con .offer-list li:before {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 10px;
  height: 7px;
  margin-right: 7px;
  border-style: solid;
  border-width: 0px 0 2px 2px;
  border-color: #dc6117;
  transform: rotateZ(-45deg);
  content: "";
}

.offer-con .offer-list li.dis {
  color: #d8d8d8;
  text-decoration: line-through;
}

.offer-con .offer-list li.dis:before {
  border-color: transparent;
}

.offer-con .offer-list:last-child {
  border-left: 1px solid #dadada;
}

.offer-con .offer-list:last-child li:before {
  display: none;
}

.form-table .price {
  font-size: 16px;
  line-height: 45px;
}

.form-table .price span {
  margin-left: 0;
  color: #888;
}

.form-table .price strong {
  font-size: 24px;
  color: #ff0000;
}

.app_comp h4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.app_comp p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 26px;
}

.app_comp p span {
  color: #ff5400;
}

.app_comp p strong {
  font-weight: normal;
  color: #2155c0;
}

.app_comp .info-box {
  display: flex;
  justify-content: center;
  max-width: 660px;
  padding: 28px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 auto 20px;
}

.app_comp ul {
  margin: 0 auto;
}

.app_comp li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.app_comp li:first-child {
  margin-top: 0;
}

.app_comp .title {
  display: block;
  width: 80px;
  min-width: 80px;
  border: 1px solid #f1ad1a;
  border-radius: 4px;
  color: #f1ad1a;
  text-align: center;
  margin-right: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.app_comp a {
  display: inline-block;
  color: #555;
}

.skin-set .form-table th {
  padding-right: 0;
  border-right: 0;
  background: transparent;
  vertical-align: middle;
  letter-spacing: -0.07em;
}

.skin-set .form-table th .txt-info {
  display: block;
  text-align: left;
  font-weight: 350;
}

.skin-set .form-table td {
  padding: 30px 0;
}

.skin-set .input-rdo {
  margin: 0 20px;
  width: calc(33.333% - 40px);
  min-width: 0;
}

.form-table .fam-list {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.form-table div.fam-list:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}

.form-table .fam-list:last-child .form-row:last-child {
  margin-bottom: 0;
}

.form-table .add-dle-acc .acc-row {
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.form-table .add-dle-acc div.acc-row:last-of-type {
  padding-bottom: 0;
  margin-bottom: 10;
  border: 0;
}

.form-table .add-dle-acc .col-md-8 {
  width: calc(50% - 62px);
}

.form-table .add-dle-acc .col-md-12 {
  width: calc(33.333% - 62px);
}

/* ------ responsive ------ */
@media screen and (min-width: 1921px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .login-wrap .form-box {
    min-height: 470px;
    padding: 40px;
  }

  .login-wrap .form-box .box-head {
    padding-bottom: 30px;
  }

  .login-wrap .form-box .box-head h2 {
    font-size: 26px;
  }

  .login-wrap .form-box .box-body {
    margin-bottom: 73px;
  }

  .login-wrap .form-box .form-row input {
    font-size: 14px;
  }

  .login-wrap .form-box .form-row .btn {
    font-size: 15px;
  }

  .login-wrap .form-box .box-foot {
    padding: 0 40px 40px;
  }

  .login-wrap .form-box .box-foot .btn {
    font-size: 16px;
  }

  .login-wrap.user-find .form-box {
    min-height: 500px;
  }
}

@media screen and (max-width: 970px) {
}

@media screen and (max-width: 768px) {
  .sub-wrap .header.active ~ .container {
    padding-top: 62px;
  }

  .visual {
    background-image: url("../images/sub/m-bg-apply_sample-visual.jpg");
  }

  .visual .visual-inner {
    height: 196px;
    padding-top: 55px;
  }

  .visual h2 {
    font-size: 28px;
  }

  .visual p {
    width: 90%;
    margin: 0 auto;
    padding-top: 46px;
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
    word-wrap: break-word;
  }

  .sub-wrap .contents-wrap {
    padding: 70px 15px 90px;
  }

  .form-table {
    border-top: 0;
  }

  .form-table tr {
    display: block;
    margin-bottom: 30px;
    border: 0;
  }

  .form-table th,
  .form-table td {
    padding: 0;
  }

  .form-table th {
    display: block;
    width: 100%;
    background: transparent;
    padding-bottom: 10px;
    border: 0;
  }

  .form-table td.row-wrap {
    display: block;
  }

  .form-table .flx-md-wrap {
    flex-wrap: wrap;
  }

  .form-table .form-row {
    margin-bottom: 5px;
  }

  .form-table td input,
  .form-table td select {
    margin-right: 5px;
  }

  .form-table td .col-md-3 {
    width: calc(25% - 3.75px);
    max-width: 100%;
  }

  .form-table td .col-md-4 {
    width: calc(33.333% - 3.33px);
    max-width: 100%;
  }

  .form-table .fam-list input.col-md-4:last-of-type {
    margin-right: 0;
  }

  .form-table td .col-md-6 {
    width: calc(50% - 5px);
    max-width: 100%;
  }

  .form-table td .col-md-8 {
    width: calc(66.666% - 2.5px);
    max-width: 100%;
  }

  .form-table td .col-md-12 {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-top: 5px;
  }

  .form-table td .col-md-12:first-child {
    margin-top: 00;
  }

  .user-find .form-box {
    margin: 0 10px;
  }

  .sample-list ul {
    flex-wrap: wrap;
  }

  .sample-list li {
    width: calc(50% - 12px);
    margin-bottom: 20px;
  }

  .sample-list li:nth-child(2n) {
    margin-right: 0;
  }

  td.tab-title {
    padding: 10px 0;
  }

  td.tab-con-wrap {
    padding: 10px 0;
  }

  .form-table .fam-list {
    margin-bottom: 20px;
    border-bottom: 0;
  }

  .form-table .fam-list .btn-add {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
  }

  .form-table .fam-list .btn-del {
    position: absolute;
    top: 0;
    right: 0;
  }

  .form-table .fam-list-wrap {
    position: relative;
    padding-bottom: 58px;
  }

  .form-table .fam-list-wrap .added {
    position: relative;
  }

  .form-table .fam-list-wrap .added .col-md-8 {
    width: calc(66.666% - 117px);
  }

  .form-table .acc-row {
    flex-wrap: wrap;
  }

  .form-table .acc-row .col-md-8 {
    margin-right: 0;
  }

  .form-table .add-dle-acc {
    position: relative;
    padding-bottom: 58px;
  }

  .form-table .add-dle-acc .acc-row {
    padding-bottom: 0;
    margin-bottom: 20px;
    border: 0;
  }

  .form-table .add-dle-acc .btn-add {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    bottom: 0;
  }

  .form-table .add-dle-acc .btn-del {
    margin-top: 5px;
  }

  .form-table .add-dle-acc .col-md-12 {
    width: calc(100% - 115px);
    margin-right: 5px;
  }

  .form-table .add-dle-acc .acc-row:first-child .col-md-12 {
    width: 100%;
    margin-right: 0;
  }

  .skin-set .form-table tr {
    border-bottom: 1px solid #dadada;
  }

  .skin-set .form-table tr:last-child {
    border-bottom: 0;
  }

  .skin-set .form-table th .txt-info {
    display: none;
  }

  .skin-set .form-table th {
    padding-bottom: 18px;
  }

  .skin-set .form-table td {
    padding-top: 0;
    padding-bottom: 36px;
  }

  .skin-set .rdo-vtc label {
    padding-top: 0;
    display: block;
    padding-left: 30px;
    text-align: left;
  }

  .input-rdo.rdo-vtc label::before,
  .input-rdo.rdo-vtc input[type="radio"]:checked + label:after {
    top: 3px;
    left: 0;
    transform: translate(0);
  }

  .input-rdo.rdo-vtc input[type="radio"]:checked + label:after {
    top: 9px;
    left: 6px;
  }

  .rdo-vtc input[type="radio"] ~ .img {
    margin-top: 2px;
    overflow: visible;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .rdo-vtc input[type="radio"]:checked ~ .img {
    border: 0;
  }
  
  .rdo-vtc input[type="radio"]:checked ~ .img img {
    border: 3px solid #f1ad18;
  }

  .rdo-vtc .img img {
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #dadada;
  }

  .rdo-vtc .img .btn-view::before { 
    display: none;
  }

  .rdo-vtc .img .btn-view {
    position: relative;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background: #fff;
    color: #000;
    opacity: 1;
    height: 60px;
    margin-top: 10px;
  }

  .contents-wrap .contents {
    margin-bottom: 30px;
  }
  td.offer-title {
    padding: 0;
  }

  .form-table .offer-con {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 11px 0 13px;
  }

  .offer-con .offer-list {
    padding: 0 15px;
  }

  .form-table .price {
    line-height: 1.2;
  }

  .input-rdo {
    min-height: 0;
  }

  .form-table tr:last-child {
    margin-bottom: 0;
  }

  .form-table + .txt-info {
    text-align: left;
  }
}

@media screen and (max-width: 640px) {
  .login-wrap .form-row.col-half {
    flex-wrap: wrap;
  }

  .login-wrap .form-row.col-half .input-wrap {
    width: 100%;
    margin-right: 0;
  }

  .login-wrap .form-row.col-half .input-wrap:first-child {
    margin-bottom: 10px;
  }

  .login-wrap.user-find {
    overflow: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px 15px 60px;
  }

  .login-wrap.user-find .form-box {
    min-height: 470px;
    margin: 0 0 30px;
  }

  .grid-box-wrap .grid-box {
    width: 100%;
    margin-right: 0;
  }

  .form-table td {
    flex-wrap: wrap;
  }

  .form-table td input {
    width: 100%;
    max-width: 100%;
  }

  .form-table td .col-sm-4 {
    width: calc(33.333% - 7px);
  }

  .form-table td .col-sm-6 {
    width: calc(50% - 7px);
  }

  .form-table td .col-8 {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .form-table td span {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .attach-img li {
    width: calc(25% - 7.5px);
  }

  .attach-img li:nth-child(5n) {
    margin-right: 10px;
  }

  .attach-img li:nth-child(4n) {
    margin-right: 0;
  }

  .form-table .price span {
    display: inline;
  }

  .skin-set .input-rdo {
    margin: 0 7px;
    width: calc(33.333% - 15px);
  }
}

@media screen and (max-width: 480px) {
  .visual .visual-inner {
    height: 115px;
    padding-top: 30px;
  }

  .visual h2 {
    font-size: 18px;
  }

  .visual p {
    padding-top: 28px;
    font-size: 12px;
  }

  .contents-wrap h3 {
    padding-bottom: 12px;
    font-size: 21px;
  }

  .login-wrap {
    align-items: flex-start;
    padding: 100px 15px 60px;
  }

  .login-wrap .form-box {
    width: 100%;
    min-height: 377px;
    padding: 20px;
    border-radius: 10px;
  }
  .login-wrap.user-find .form-box {
    min-height: 377px;
  }

  .login-wrap .form-box .box-head h2 {
    font-size: 20px;
  }

  .login-wrap .form-box .box-head h2 + p {
    font-size: 14px;
  }

  .login-wrap .form-box .box-foot {
    padding: 0 20px 20px;
  }

  .login-wrap .form-box .box-foot .btn {
    font-size: 14px;
  }

  .sample-list li {
    width: 100%;
    margin-right: 0;
  }

  .empty-list p {
    font-size: 16px;
  }

  .empty-list p strong {
    font-size: 24px;
  }

  .app_comp h4 {
    word-wrap: break-word;
    word-break: keep-all;
    font-size: 24px;
  }

  .app_comp p {
    word-wrap: break-word;
    word-break: keep-all;
    font-size: 16px;
  }

  .app_comp li {
    font-size: 16px;
  }

  .prev-slide .slick-wrapper {
    width: 168px;
    height: 338px;
    padding: 29px 7px 37px;
  }

  .prev-slide .slick-wrapper .slick-arrow {
    width: 44px;
    height: 70px;
    margin-top: -35px;
  }

  .prev-slide .slick-wrapper .slick-next {
    right: -55px;
  }

  .prev-slide .slick-wrapper .slick-prev {
    left: -55px;
  }

  .tab-title .input-rdo input[type="radio"]:checked + label::before {
    display: none;
  }

  .form-table th {
    font-size: 16px;
  }

  .attach-img li {
    width: calc(33.333% - 7px);
  }

  .attach-img li:nth-child(4n) {
    margin-right: 10px;
  }

  .attach-img li:nth-child(3n) {
    margin-right: 0;
  }

  .form-table .fam-list-wrap .added .col-md-8 {
    width: calc(66.666% - 87px);
  }

  .offer-con .offer-list li {
    font-size: 13px;
  }

  .form-table .price {
    font-size: 12px;
  }

  .form-table .price span {
    font-size: 12px;
  }

  .form-table .price strong {
    font-size: 19px;
  }

  .txt-info {
    font-size: 12px;
  }

  .form-table td .txt-info {
    font-size: 12px;
  }

  .rdo-vtc .img .btn-view {
    height: 45px;
    font-size: 14px;
    margin-top: 7px;
  }

  .form-table .add-dle-acc .col-md-12 {
    width: calc(100% - 85px);
  }

  .form-table .add-dle-acc .col-md-8 {
    width: calc(66.666% - 2.5px);
  }

  .attach-img + p strong,
  .attach-img + p em {
    font-size: 14px;
  }

  .attach-img + .txt-info {
    padding-left: 47px;
    text-indent: -47px;
  }
}

@media screen and (max-width: 320px) {
}
