.login-wrap {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-image: url(../images/common/bg-login.jpg);
  box-sizing: border-box;
}

.login-wrap .form-box {
  -moz-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3);
}

.form-box {
  position: relative;
  width: 90%;
  max-width: 570px;
  min-height: 530px;
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

.form-box .box-head {
  padding-bottom: 40px;
}

.form-box .box-head h2 {
  margin-top: -0.214em;
  margin-bottom: -0.179em;
  font-size: 28px;
  font-weight: normal;
  font-weight: 350;
  line-height: 1.286;
}

.form-box .box-head h2 strong {
  display: block;
}

.form-box .box-head h2 + p {
  margin-top: 0.722em;
  margin-bottom: -10px;
  font-size: 18px;
  color: #555;
}

.form-box .box-body {
  margin-bottom: 100px;
}

.form-box .box-foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 50px 50px;
  box-sizing: border-box;
}

.form-box .box-foot .btn {
  width: 100%;
  margin-top: 5px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row.sp-btw {
  justify-content: space-between;
}

.form-row.sp-btw .input-wrap {
  width: auto;
}

.form-box .result {
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #ff0000;
  text-align: center;
}

.form-box .result em {
  font-size: 20px;
}

.user-find .form-box {
  max-width: 500px;
  min-height: 563px;
  margin: 0 20px;
}

/* input */

.input-wrap + .btn {
  margin-left: 10px;
}

.form-row .input-wrap {
  width: 100%;
}
.form-row.col-half .input-wrap {
  width: 50%;
  margin-right: 10px;
}

.form-row.col-half .input-wrap:last-child {
  margin-right: 0;
}

.form-row input {
  display: block;
  width: 100%;
  height: 3.715em;
  border-radius: 5px;
  border-color: #dedede;
  font-size: 16px;
}

.form-row input:focus {
  border-color: #f1ad1a;
}

.form-row .input-chk label {
  display: flex;
  align-items: center;
}

/* ------ responsive ------ */
@media screen and (min-width: 1921px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .form-box {
    min-height: 470px;
    padding: 40px;
  }

  .form-box .box-head {
    padding-bottom: 30px;
  }

  .form-box .box-head h2 {
    font-size: 26px;
  }

  .form-box .box-body {
    margin-bottom: 73px;
  }

  .form-box .form-row input {
    font-size: 14px;
  }

  .form-box .form-row .btn {
    font-size: 15px;
  }

  .form-box .box-foot {
    padding: 0 40px 40px;
  }

  .form-box .box-foot .btn {
    font-size: 16px;
  }

  .user-find .form-box {
    min-height: 500px;
  }
}

@media screen and (max-width: 970px) {
}

@media screen and (max-width: 768px) {
  .user-find .form-box {
    margin: 0 10px;
  }
}

@media screen and (max-width: 640px) {
  .form-row.col-half {
    flex-wrap: wrap;
  }

  .form-row.col-half .input-wrap {
    width: 100%;
    margin-right: 0;
  }

  .form-row.col-half .input-wrap:first-child {
    margin-bottom: 10px;
  }

  .login-wrap.user-find {
    overflow: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px 15px 60px;
  }

  .user-find .form-box {
    min-height: auto;
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .login-wrap {
    align-items: flex-start;
    padding: 100px 15px 60px;
  }

  /* .login-wrap.user-find {
    padding: 100px 15px 60px;
  } */

  .form-box {
    width: 100%;
    min-height: 377px;
    padding: 20px;
    border-radius: 10px;
  }

  .form-box .box-head h2 {
    font-size: 20px;
  }

  .form-box .box-head h2 + p {
    font-size: 14px;
  }

  .form-box .box-foot {
    padding: 0 20px 20px;
  }

  .form-box .box-foot .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
}
