@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f5f6f7;
}

body.no-scroll {
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 750px;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  color: #000;
}

/* header */
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header .fix-box {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.header .logo {
  position: relative;
  overflow: hidden;
  width: 136px;
  height: 51px;
  margin: 0 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/common/logo-w.png");
  background-position: center;
  text-indent: -300px;
}

.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header .btn-m-toggle {
  position: relative;
  width: 114px;
  height: 120px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.header .btn-m-toggle::before,
.header .btn-m-toggle::after {
  position: absolute;
  left: 30px;
  height: 4px;
  border-radius: 3px;
  background: #fff;
  transition: all 0.3s 0.4s;
  content: "";
}

.header .btn-m-toggle::before {
  bottom: 40px;
  width: 37px;
}

.header .btn-m-toggle::after {
  top: 40px;
  width: 54px;
}

.header.active .btn-m-toggle::before,
.header.active .btn-m-toggle::after {
  width: 0;
  background: #000;
}

.header .btn-m-toggle .bar {
  display: block;
  position: relative;
  margin-left: 30px;
  width: 0;
  height: 4px;
  border-radius: 2px;
}

.header .btn-m-toggle .bar::before,
.header .btn-m-toggle .bar::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 54px;
  height: 4px;
  border-radius: 3px;
  background: #fff;
  transition: transform 0.3s;
  content: "";
}

.header.active .btn-m-toggle .bar::before,
.header.active .btn-m-toggle .bar::after {
  background: #fff;
  transition-delay: 0.8s;
}

.header.active .btn-m-toggle .bar::before {
  transform: rotate(45deg);
}

.header.active .btn-m-toggle .bar::after {
  transform: rotate(-45deg);
}

.header .btn-back {
  display: block;
  width: 118px;
  height: 120px;
  height: 100%;
  z-index: 10;
  box-sizing: border-box;
  color: #000;
}


.header .btn-back span {
  display: block;
  position: relative;
  width: 58px;
  height: 4px;
  margin-left: 30px;
  background: #fff;
  border-radius: 2px;
  text-indent: -9999px;
}

.header .btn-back span::before,
.header .btn-back span::after {
  position: absolute;
  left: -2px;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  content:"";
}

.header .btn-back span::before {
  top: -11px;
  transform: rotate(-45deg);
}

.header .btn-back span::after {
  top: 11px;
  transform: rotate(45deg);
}

.header .menu-list {
  overflow: auto;
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  max-width: 750px;
  height: 100%;
  padding: 187px 30px 0;
  background: #000 url("../images/black/bg-menu.png") no-repeat bottom;
  box-sizing: border-box;
  opacity: 0;
  transition: .5s;
}

.header.active .menu-list {
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  color: #fff;
}

.header .menu-list li {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.header .menu-list li:first-child {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.header .menu-list li a {
  display: flex;
  align-items: center;
  padding: 30px 27px;
  font-size: 40px;
}

.header .menu-list li a::before {
  display: block;
  width: 47px;
  height: 47px;
  margin-right: 20px;
  content: "";
}

.header .menu-list li:nth-child(1) a::before {
  background-image: url("../images/black/icon-menu01-47x47.png");
}
.header .menu-list li:nth-child(2) a::before {
  background-image: url("../images/black/icon-menu02-47x47.png");
}
.header .menu-list li:nth-child(3) a::before {
  background-image: url("../images/black/icon-menu03-47x47.png");
}
.header .menu-list li:nth-child(4) a::before {
  background-image: url("../images/black/icon-menu04-47x47.png");
}
.header .menu-list li:nth-child(5) a::before {
  background-image: url("../images/black/icon-menu05-47x47.png");
}
.header .menu-list li:nth-child(6) a::before {
  background-image: url("../images/black/icon-menu06-47x47.png");
}
.header .menu-list li:nth-child(7) a::before {
  background-image: url("../images/black/icon-menu07-47x47.png");
}

/* content */
.contents-wrap {
 padding: 30px;
 padding-top: 548px;
}

.fix-tit .contents-wrap {
  padding-top: 548px;
  padding-bottom: 127px;
}

.info-head {
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: 750px;
  top: 0;
  left: 50%;
  height: 548px;
  padding: 237px 30px 0;
  border-radius: 0 0 60px 0;
  color: #fff;
  box-sizing: border-box;
  transform: translateX(-50%);
  box-shadow: 0px -20px 70px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.fix-tit .info-head {
  position: fixed;
  height: 327px;
  padding-top: 152px;
  
}

.info-head .inner {
  position: relative;
  z-index: 1;
}

.fix-tit .info-head .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-head .bg {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  /* max-width: 750px; */
  height: 548px;
  margin: 0 auto;
  background: no-repeat center top;
  background-size: cover;
  content: "";
  z-index: 0;
  background-image: url("../images/black/bg-title.png");
}

.info-head .name {
  margin-bottom: 37px;
  font-size: 50px;
  font-family: 'Noto Serif KR';
  font-weight: 700;
  color: #ffe0bb;
}

.info-head .info dl {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.info-head .info dt {
  margin-right: 14px;
  font-size: 28px;
  color: #959595;
}

.info-head .info dd {
  font-size: 32px;
}

.con-tit {
  padding-top: 52px;
  padding-bottom: 15px;
  font-size: 40px;
}

.con-sub-tit {
  padding-top: 56px;
  padding-bottom: 18px;
  font-size: 30px;
}

.table-info {
  border-top: 1px solid #a0a0a0;
}

.table-info th,
.table-info td {
  height: 73px;
  border-bottom: 1px solid rgba(221, 221, 221, .4);
}

.table-info th {
  width: 175px;
  background: #79848e;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.table-info td{
  padding-left: 30px;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
}

.fix-btm .contents {
  padding-bottom: 140px;
}

.con-btm {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 120px;
  border: 0;
  background: #b9a26b;
  font-size: 34px;
  color: #fff;
  text-align: center;
}

.btn-lg {
  width: 100%;
}

.btn-regular {
  background: #aaa;
}

.btn-call::before {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 14px;
  background: url("../images/common/icon-btn-call.png");
  content: "";
}

.btn-lg.btn-call::before {
  margin-right: 26px;
}

.popup-wrap {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 750px;
  height: 100%;
  margin: auto;
  padding: 30px;
  padding-top: 300px;
  background: rgba(0, 0, 0, .5);
  z-index: 200;
  box-sizing: border-box;
}

.popup-wrap.active {
  display: block;
}

.popup-wrap .popup {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 40px; 
  box-sizing: border-box; 
}

.popup-wrap .pop-btm {
  display: flex;
}

.popup-wrap .pop-btm .btn {
  height: 100px;
  margin-right: 24px;
  border-radius: 10px;
}

.popup-wrap .pop-btm .btn.btn:last-child {
  margin-right: 0;
}

.popup .tit {
  margin-bottom: 80px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.375;
  text-align: center;
}

.popup .tit em {
  font-weight: 700;
  color: #e54123;
}

/* placeholder 스타일 지정 */
input::-webkit-input-placeholder {
  color: #c8c8c8;
}

input:-ms-input-placeholder {
  color: #c8c8c8;
}

textarea::-webkit-input-placeholder {
  color: #c8c8c8;
}

textarea:-ms-input-placeholder {
  color: #c8c8c8;
}

input::placeholder {
  color: #c8c8c8;
  opacity: 1;
}

textarea::placeholder {
  color: #c8c8c8;
  opacity: 1;
}


/* main */
.main .wrap {
  background: #000;
  color: #fff;
}

.main .header .fix-box {
  background: #000;
}

.main .header .btn-back {
  display: none;
}

.main .contents-wrap::before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 652px;
  background: no-repeat center bottom;
  background-size: contain;
  background-image: url("../images/black/bg-main.png");
  content: "";
}

.main .info-head {
  border-radius: 0;
  box-shadow: none;
}

.main-gate {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.main-gate li {
  width: calc(50% - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #7d7061;
  border-radius: 10px;
  background: rgba(0, 0, 0, .2);
  box-sizing: border-box;
}

.main-gate li:nth-child(2n) {
  margin-right: 0;
}

.main-gate li a {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  font-size: 36px;
  text-align: center;
}

.main-gate li a::before {
  display: block;
  margin: 40px 0 24px;
}

.main-gate li:nth-child(1) a::before {
  content: url("../images/black/icon-menu01-101x94.png");
}
.main-gate li:nth-child(2) a::before {
  content: url("../images/black/icon-menu02-101x94.png");
}
.main-gate li:nth-child(3) a::before {
  content: url("../images/black/icon-menu03-101x94.png");
}
.main-gate li:nth-child(4) a::before {
  content: url("../images/black/icon-menu04-101x94.png");
}
.main-gate li:nth-child(5) a::before {
  content: url("../images/black/icon-menu05-101x94.png");
}
.main-gate li:nth-child(6) a::before {
  content: url("../images/black/icon-menu06-101x94.png");
}
.main-gate li:nth-child(7) a::before {
  content: url("../images/black/icon-menu07-101x94.png");
}

/* gallery */
.gallery li {
  width: calc(50% - 4px);
}
.gallery .gallery-item {
  float: left;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.gallery li img {
  display: block;
  width: 100%;
}

.gallery .btn-vlarger {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  text-indent: -9999px;
}

.view-box-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
}

.view-box-wrap .view-box {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.view-box-wrap img {
  display: block;
  width: 100%;
}

.view-close {
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  border: 0;
  width: 64px;
  height: 64px;
  float: right;
  background: transparent;
  text-indent: -9999px;
}

.view-close::before,
.view-close::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: #fff;
  content: "";
}

.view-close::before {
  transform: rotate(45deg);
}

.view-close::after {
  transform: rotate(-45deg);
}

/* info */
.fam-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;
  border-radius: 10px;
  background: rgba(121, 132, 142, .1);
  margin-bottom: 10px;
}

.fam-list li p span {
  display: inline-block;
  width: 55px;
  margin-right: 30px;
  font-size: 30px;
  text-align: center;
  color: #aa804f;
}

.fam-list li p em {
  font-size: 32px;
  font-weight: 500;
}

.fam-list li .btn-call {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 28px;
  border-radius: 26px;
  background: #79848e;
  font-size: 28px;
  color: #fff;
}

/* map */
.map-box {
  height: 650px;
  margin-bottom: 40px;
  background: #eaeaea;
}

/* payment */
.payment .sub-txt {
  padding-left: 126px;
  margin-bottom: 38px;
  background: url("../images/common/icon-flower.png") no-repeat center left;
  font-size: 26px;
  font-weight: 300;
}

.payment .sub-txt strong {
  font-weight: 500;
}

.deadline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 10px;
  background: #f1f2f3;
  font-weight: 500;
}

.deadline dt {
  margin-right: 18px;
  padding-left: 42px;
  background: url("../images/common/icon-clock.png") no-repeat center left;
  font-size: 28px;
  color: #e54123;
}

.deadline dd {
  font-size: 30px;
}

.acc-list {
  padding-top: 13px;
}

.acc-list li {
  margin-bottom: 26px;
  padding: 34px 58px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.acc-list li h3 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
}

.acc-list li h3 span {
  margin-right: 17px;
  font-size: 30px;
  font-weight: 400;
  color: #aa804f;
}

.acc-list li dl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 41px;
  font-size: 28px;
  font-weight: normal;
  font-weight: 350;
  color: #555;
}

.acc-list li .btn-copy {
  width: 100%;
  height: 88px;
  border-color: #b9a26b;
  border-radius: 10px;
  background: #fff;
  font-size: 28px;
  font-weight: 400;
  color: #b9a26b;
}

/* guest */
.board-list li {
  border: 2px solid #cea88f;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px 30px;
  border-radius: 10px;
  background-size: 100%;
  box-sizing: border-box;
  box-shadow: 8px 12px 15px 0px rgba(0, 0, 0, 0.1);

}

.board-list li:last-child {
  margin-bottom: 0;
}

.board-list li .name {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
}

.board-list li .name span {
  margin-right: 9px;
  font-size: 30px;
  font-weight: 400;
  color: #aa804f;
}

.board-list li .tit {
  margin-bottom: 18px;
  font-size: 36px;
  font-weight: 500;
}

.board-list li .date {
  font-size: 28px;
  color: #999;
}

.board-list li .btn-del {
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100%;
  background: #f4f4f4;
  text-indent: -999px;
}

.board-list li .btn-del::before,
.board-list li .btn-del::after {
  display: block;
  position: absolute;
  top: 45%;
  left: 13px;
  width: 50%;
  height: 3px;
  border-radius: 2px;
  background: #c5c5c5;
  content: "";
}

.board-list li .btn-del::before {
  transform: rotate(-45deg);
}

.board-list li .btn-del::after {
  transform: rotate(45deg);
}

.pw-input-wrap {
  margin-bottom: 100px;
}

.pw-input-wrap input{
  border: 0;
  background: transparent;
  width: 0;
  font-size: 1px;
  color: #fff;
}

.pw-input-wrap .show-wrap {
  display: flex;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
}

.pw-input-wrap .show-wrap span {
  display: block;
  position: relative;
  width: 75px;
  height: 52px;
  margin: 0 10px;
  color: #fff;
  text-align: center;
}

.pw-input-wrap .show-wrap span.on {
  color: #000;
}

.pw-input-wrap .show-wrap span.focus::after {
  animation: fadeOutIn .8s ease-in Infinite;
}

.pw-input-wrap .show-wrap span::after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #aaa;
  content: "";
}

.pw-input-wrap .show-wrap span.on::after {
  background: #000;
}

@-webkit-keyframes fadeOutIn {
  0% {
    background: #aaa;
  }
  50% {
    background: #000;
  }
  100% {
    background: #aaa;
  }
}
@-moz-keyframes fadeOutIn {
  0% {
    background: #aaa;
  }
  50% {
    background: #000;
  }
  100% {
    background: #aaa;
  }
}
@-ms-keyframes fadeOutIn {
  0% {
    background: #aaa;
  }
  50% {
    background: #000;
  }
  100% {
    background: #aaa;
  }
}
@-o-keyframes fadeOutIn {
  0% {
    background: #aaa;
  }
  50% {
    background: #000;
  }
  100% {
    background: #aaa;
  }
}
@keyframes fadeOutIn {
  0% {
    background: #aaa;
  }
  50% {
    background: #000;
  }
  100% {
    background: #aaa;
  }
}

/* manner */
.manner .contents-wrap {
  padding-right: 0;
  padding-left: 0;
}
.tab-tit-wrap {
  display: flex;
  justify-content: space-around;
  top: 548px;
  width: 100%;
  max-width: 750px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
}

.fix-tit .tab-tit-wrap {
  position: fixed;
  top: 327px;
  z-index: 5;
}

.tab-tit-wrap li {
  position: relative;
  width: 25%;
  height: 70px;
}

.tab-tit-wrap li::after {
  position: absolute;
  right: -5px;
  top: 50%;
  margin-top: -21px;
  font-size: 30px;
  content: "/";
  color: #ccc;
}

.tab-tit-wrap li:last-child::after {
  display: none;
}

.tab-tit-wrap button {
  display: block;
  position: relative;
  height: auto;
  margin: 15px auto;
  padding: 0 10px;
  border: 0;
  background: transparent;
  font-size: 32px;
  z-index: 5;
  transition: background .3s;
}

.tab-tit-wrap li.active button {
  background: linear-gradient(to top, #ffe0bb 50%, transparent 50%);
}

.tab-con-wrap {
  padding: 0 30px;
}

.tab-con-wrap .tab-con {
  display: none;
}

.tab-con-wrap .tab-con.active {
  display: block;
}

.txt-box {
  margin-top: 30px;
  padding: 20px;
  border: solid 1px #eee;
  border-radius: 10px;
  background: #f6f6f6;
  color: #777;
  font-size: 30px;
  box-sizing: border-box;
}

.num-list {
  counter-reset: counter;
}

.num-list .count::before {
  display: inline-block;
  counter-increment: counter 1;
  content: counter(counter) '.';
  margin-right: 16px;
}

.num-list h3 {
  font-size: 28px;
  font-weight: 400;
}

.num-list li {
  margin-bottom: 40px;
  padding-left: 37px;
  font-size: 28px;
  text-indent: -19px;
}

.note-list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.note-list li {
  margin-bottom: 15px;
  font-size: 26px;
  text-indent: -34px;
}

.note-list li::before {
  
  margin-right: 10px;
  content: "ㅇ";
}

.note-list.num-list li::before {
  display: inline-block;
  position: relative;
  top: -2px;
  text-indent: 0;
  counter-increment: counter;
  content: counter(counter);
  font-size: 18px;
  border: 1px solid #555;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.num-list h4 {
  margin-top: 20px;
  margin-left: 21px;
  font-weight: 400;
  color: #b6a37e;
}

.num-list .sub-txt {
  text-indent: 0;
  margin-top: 20px;
  font-size: 26px;
}

.manner .con-tit + p {
  font-size: 28px;
  margin-bottom: 20px;
}

/* write */
.write {
  background: #f8f8f8;
}

.input-row {
  margin-bottom: 55px;
}

div.input-row:last-child {
  margin-bottom: 0;
}

.input-row label {
  display: block;
  margin-bottom: 7px;
  font-size: 28px;
  font-weight: 700;
  color: #b9a26b;
}

.input-row label span {
  font-weight: 400;
  color: #919191;
}

.input-row input,
.input-row select {
  width: 100%;
  height: 3.125em;
  margin-bottom: 8px;
  border-color: #ccc;
  font-size: 32px;
}

.input-row input:last-child,
.input-row select:last-child {
  margin-bottom: 0;
}


/* ----------- white ----------- */

/* header */
.white .header .logo {
  background-image: url("../images/common/logo-c.png");
}

.white .header .btn-m-toggle::before,
.white .header .btn-m-toggle::after {
  background: #000;
}

.white .header.active .btn-m-toggle::before,
.white .header.active .btn-m-toggle::after {
  background: #fff;
}

.white .header .btn-m-toggle .bar::before,
.white .header .btn-m-toggle .bar::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 54px;
  height: 4px;
  border-radius: 3px;
  background: #000;
  transition: transform 0.3s;
  content: "";
}

.white .header.active .btn-m-toggle .bar::before,
.white .header.active .btn-m-toggle .bar::after {
  background: #000;
}

.white .header .btn-back {
  color: #fff;
}

.white .header .btn-back span {
  background: #000;
}

.white .header .btn-back span::before,
.white .header .btn-back span::after {
  background: #000;
}

.white .header .menu-list {
  background: #fff url("../images/white/bg-menu.png") no-repeat bottom;
  color: #000;
}

.white .header .menu-list li {
  border-bottom: 1px solid #eee;
}

.white .header .menu-list li:first-child {
  border-top: 1px solid #eee;
}

.white .header .menu-list li:nth-child(1) a::before {
  background-image: url("../images/white/icon-menu01-47x47.png");
}
.white .header .menu-list li:nth-child(2) a::before {
  background-image: url("../images/white/icon-menu02-47x47.png");
}
.white .header .menu-list li:nth-child(3) a::before {
  background-image: url("../images/white/icon-menu03-47x47.png");
}
.white .header .menu-list li:nth-child(4) a::before {
  background-image: url("../images/white/icon-menu04-47x47.png");
}
.white .header .menu-list li:nth-child(5) a::before {
  background-image: url("../images/white/icon-menu05-47x47.png");
}
.white .header .menu-list li:nth-child(6) a::before {
  background-image: url("../images/white/icon-menu06-47x47.png");
}
.white .header .menu-list li:nth-child(7) a::before {
  background-image: url("../images/white/icon-menu07-47x47.png");
}

/* contents */
.white .info-head {
  
  color: #000;
}
.white .info-head .bg {
  background-image: url("../images/white/bg-title.png");
}

.white .info-head .name {
  color: #b9a26b;
}

/* main */
.white.main .wrap {
  background: #fff;
  color: #000;
}

.white.main .header .fix-box {
  background: #fff;
}

.white.main .contents-wrap::before {
  background-image: url("../images/white/bg-main.png");
}

.white .main-gate li {
  border-color: #c8c1b8;
  background: rgba(255, 255, 255, .9);
}

.white .main-gate li:nth-child(1) a::before {
  content: url("../images/white/icon-menu01-101x94.png");
}
.white .main-gate li:nth-child(2) a::before {
  content: url("../images/white/icon-menu02-101x94.png");
}
.white .main-gate li:nth-child(3) a::before {
  content: url("../images/white/icon-menu03-101x94.png");
}
.white .main-gate li:nth-child(4) a::before {
  content: url("../images/white/icon-menu04-101x94.png");
}
.white .main-gate li:nth-child(5) a::before {
  content: url("../images/white/icon-menu05-101x94.png");
}
.white .main-gate li:nth-child(6) a::before {
  content: url("../images/white/icon-menu06-101x94.png");
}
.white .main-gate li:nth-child(7) a::before {
  content: url("../images/white/icon-menu07-101x94.png");
}



/* ----------- card ----------- */

.card-wrap {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  box-sizing: border-box;
}

.card-wrap .btn-card {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 750px;
  margin: auto;
}

.card-wrap .visual {
  padding-bottom: 30px;
}


.card-wrap .visual .img-wrap {
  position: relative;
  margin: 0 auto 27px;
}

.card-wrap .img-wrap .cover-img {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translate(0);
}

.card-wrap .img-wrap img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} 

.card-wrap .img-box {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10.7%;
  width: 47.3%;
  height: 69.3%;
  margin: 0 auto;
}

.card-wrap .img-box img.vertical {
  width: 100%;
}

.card-wrap .img-box img.horizontal {
  width: auto;
  height: 100%;
}

.card-wrap .visual h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.card-wrap .visual h2 em {
  display: block;
  margin-bottom: 8px;
  font-size: 50px;
  font-weight: 700;
  color: #b9a26b;
}

.card-wrap .info-list {
  padding: 44px 40px 26px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .8);
}

.card-wrap .info-list dl {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.card-wrap .info-list dt {
  margin-right: 32px;
  font-size: 26px;
  font-weight: 700;
  color: #a1a3a7;
}

.card-wrap .info-list dd {
  font-size: 32px;
}

/* card_basic */
.card-wrap.basic {
  background-image: url("../images/common/bg-card-basic.png");
}

.card-wrap.basic .logo {
  overflow: hidden;
  height: 51px;
  padding: 56px 0 41px;
  background: url("../images/common/logo-c.png") no-repeat center;
  text-indent: -9999px;
}

.card-wrap.basic .basic-box {
  padding: 9px;
  border: 10px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 50px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 50px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 50px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background: #fff;
}

.card-wrap.basic .card {
  padding: 8px;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
}

.card-wrap.basic .visual {
  padding-bottom: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.card-wrap.basic .visual img {
  max-width: 309px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.card-wrap.basic .visual h2 {
  margin-top: -10px;
}

.card-wrap.basic .info-list {
  padding-left: 20px;
  padding-right: 20px;
}

/* card_white */
.card-wrap.white {
  background-image: url("../images/common/bg-card-white.png");
}

/* card_black */
.card-wrap.black {
  background-image: url("../images/common/bg-card-black.png");
}

.card-wrap.black .visual h2 {
  color: #fff;
}

.card-wrap.black .visual h2 em {
  color: #ffe0bb;
}

.card-wrap.black .info-list {
  background: rgba(39, 40, 42, .8);
  border: 2px solid rgba(51, 52, 53, .8);
}

.card-wrap.black .info-list dd {
  color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 320px) {
}