*{margin: 0; padding: 0;}

body {
  font-family: "Inconsolata", "Nanum Pen Script", monospace;
  background: #000f08;
  color: #fff;
}

li {
  list-style: none;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  outline: none;
  font-size: 40px;
}

input::placeholder {
  color: #eee;
}

.form,
.intro-box,
.list-container {
  display: none;
}

.showing {
  display: block;
}

.bg-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-box:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .4);
}

.bgImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form{
  margin: auto;
}

.intro-box {
  margin: auto;
  text-align: center;
  padding: 40px 80px;
  /* background: rgba(0,0,0, .4); */
  /* border-radius: 20px; */
}

.greetings {
  font-size: 32px;
}

.clock h1 {
  font-size: 72px;
}

.weather img{
  display: block;
  margin-right: -15px;
  float: right;
  margin-bottom: -20px;
}

.weather em{
  font-style: normal;
  font-size: 36px;
  margin-top: 31px;
  display: block;
  float: left;
  position: relative;
}

.weather em:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  right: -16px;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 100%;
}

.weather span{
  display: block;
  clear:both;
  font-size: 16px;
  
}

.btn-todo{
  background: none;
  border: 1px solid #fff;
  color: #fff;
  width: 42px;
  height: 42px;
  position: absolute;
  right: 30px;
  top: 30px;
  outline: none;
  cursor: pointer;
}

.btn-todo.open {
  border: none;
  z-index: 2;
}

.list-container{
  background: rgba(0,0,0, .4);
  height: calc(100% - 60px);
  position: absolute;
  top: 30px;
  right: 30px;
  width: 360px;
  font-size: 24px;
  padding: 40px 20px 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.list-container input {
  font-size: 24px;
}

.list-container ul {
  padding-top: 20px;
}

.list-container li {
  margin-bottom: 16px;
}

.list-container li button { 
  background: none;
  border: none;
  margin-right: 8px;
}